<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.4/firebase.js"></script>
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/3.6.0/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.6.0/firebaseui.css" />
    <script>
        const config = {
            apiKey: "AIzaSyDgr9DHVQHHcU7rlLVLtbvxElrZw8I2M70",
            projectId: "silverly-chat",
            databaseURL: "https://silverly-chat.firebaseio.com/",
        }
        firebase.initializeApp(config)
    </script>
</head>
<body>
    <div id="app">
        <div v-if="currentUser.uid">
            <ul>
                <li v-for="message in messages">
                    {{ message.content }}
                </li>
            </ul>
            <div>
                <input type="text" v-model="newMessage" @keyup.enter="createMessage">
                <button @click="createMessage">></button>
            </div>
        </div>
        <div v-else>
            <div id="firebaseui-auth-container"></div>
        </div>
    </div>
    <script>
        const database = firebase.database()
        const ui = new firebaseui.auth.AuthUI(firebase.auth())
        const app = new Vue({
            el: '#app',
            data: {
                newMessage: "",
                currentUser: {
                    uid: '',
                    email: '',
                    displayName: '',
                }
            },
            firebase: {
                messages: database.ref('messages')
            },
            mounted: function () {
                this.initUi()
            },
            methods: {
                createMessage: function () {
                    if (this.newMessage) {
                        this.$firebaseRefs.messages.push({
                            content: this.newMessage
                        })
                    }
                    this.newMessage =""
                },
                initUi: function () {
                    ui.start('#firebaseui-auth-container', {
                        signInOptions: [
                            firebase.auth.EmailAuthProvider.PROVIDER_ID
                        ],
                        callbacks: {
                            signInSuccessWithAuthResult: (authResult, redirectUrl) => {
                                this.currentUser.uid = authResult.user.uid
                                this.currentUser.email = authResult.user.email
                                this.currentUser.displayName = authResult.user.displayName
                                return false
                            }
                        }
                    })
                }
            },
        })
    </script>
</body>
</html>