{% extends 'movies/base.html' %}
{% load crispy_forms_tags %}
{% block body %}

{% if request.resolver_match.url_name == 'create' %}

<h1>새 영화</h1>

{% else %}

<h1>영화 정보 수정</h1>

{% endif %}


<form method="POST">
    {% csrf_token %}
    {{ form | crispy }}
    <input type="submit" class="btn btn-primary" value="저장"/>
</form>

<br>
<br>
{% if request.resolver_match.url_name == 'create' %}

<a href="{% url 'movies:index' %}" class="btn btn-info btn-sm">뒤로</a>

{% else %}

<a href="{% url 'movies:detail' movie.pk %}" class="btn btn-info btn-sm">뒤로</a>

{% endif %}


{% endblock %}