{% extends 'base.html' %} {% load static %} {% block head %} {{ block.super }} {% endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'detail/index.css' %}" type="text/css" /> {% endblock %} {% block title %} QnA {% endblock %} {% block body %}

<div class="container mt-3">
    <div class="row justify-content-center">
        <h2 class="col col-12 text-center"> Q & A </h2>
        <form class="row">
            <div class="form-group col col-12 col-lg-6">
                <label for="title">제목</label>
                <input type="text" class="form-control" placeholder="제목을 입력하세요" name="title">
            </div>
            <div class="form-group col col-12 col-lg-6">
                <label for="email">이메일</label>
                <input type="email" class="form-control" placeholder="이메일을 입력하세요" name='email'>
            </div>
            <div class="form-group col col-12">
                <label for="context">내용</label>
                <textarea class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>










<footer class="fixed-bottom d-flex align-items-center p-3 justify-content-between">
    <p class="m-0">Silverlyjoo</p>
    <a href="#tops"><i class="fas fa-arrow-circle-up fa-lg text-light"></i></a>
</footer>
{% endblock %}
