{% extends 'boards/base.html' %} {% block body %}

<h1>Index</h1>
<hr>
<a href="{% url 'boards:new' %}">New</a>
<hr>

<table class="table">
    <thead>
        <tr>
            <th scope="col" class='text-center'>#</th>
            <th scope="col" class='text-center'>Title</th>
            <th scope="col" class='text-center'>Created_at</th>
            <th scope="col" class='text-center'>Detail</th>
            
        </tr>
    </thead>
    <tbody>
        {% for board in boards %}
        <tr>
            <th scope="row" class='text-center'>{{ board.id }}</td>
            <td class='text-center'>{{ board.title }} ({{board.comment_set.all | length}})</td>
            <td class='text-center'>{{ board.created_at | timesince }} 전</td>
            <td class='text-center'><a href="{% url 'boards:detail' board.pk %}">GO</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}