@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Poor+Story|Sunflower:300,500,700');

body {
    font-family: 'Poor Story', cursive;
    font-size: 120%;
}

header {
    height: 350px;
    background-image: url('assets/movie.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.5;
    
}

header:hover {
    opacity: 1;
}


h2 {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 300%;
}

.footer {
    height: 50px;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    font-family: 'Sunflower', sans-serif;
}

.underline {
    height: 3px;
    width: 50px;
    background-color: yellow;
}