{% extends 'workshopapp/base.html' %} {% block body %}
<h1>Edit Students!!</h1>
<hr>
<form action="/{{ student.pk }}/update/" method="POST">
    {% csrf_token %}
    <div class="form-group">

        <label for="name">Name</label>
        <input type="text" class="form-control" placeholder="Enter name" id="name" name="name" value="{{ student.name }}">

        <label for="email">Eamil</label>
        <input type="email" class="form-control" placeholder="Enter email" id="name" name="email" value="{{ student.email }}">

        <label for="birth">Birthday</label>
        <input type="date" class="form-control" id="birth" name="birth" value="{{ student.birthday|date:'Y-m-d' }}">

        <label for="age">Age</label>
        <input type="number" class="form-control" id="age" name="age" value="{{ student.age }}">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>




<a href="/">Go to Home</a> {% endblock %}
