{% extends 'workshopapp/base.html' %} {% block body %}
<h1>New Students!!</h1>
<hr>
<form action="/create/" method="POST">
    {% csrf_token %}
    <div class="form-group">

        <label for="name">Name</label>
        <input type="text" class="form-control" placeholder="Enter name" id="name" name="name">

        <label for="email">Eamil</label>
        <input type="email" class="form-control" placeholder="Enter email" id="name" name="email">

        <label for="birth">Birthday</label>
        <input type="date" class="form-control" id="birth" name="birth">

        <label for="age">Age</label>
        <input type="number" class="form-control" id="age" name="age">


    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>




<a href="/">Go to Home</a> {% endblock %}
