{% load bootstrap4 %}
<div class="col-10 col-md-6 col-lg-4 my-3">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <div><b>{{ post.post_user }}</b></div>
                <div>{{ post.updated_at | timesince }} 전</div>
            </div>
        </div>
        {% if post.image_set %}

<a href="{% url 'posts:like' post.pk %}">
                    
        <div id="post{{post.pk}}" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">

                {% for image in post.image_set.all %}

                <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                    <img src="{{ image.file.url }}" class="d-block w-100" alt="{{ image.file }}">
                </div>

                {% endfor %}

            </div>
            <a class="carousel-control-prev" href="#post{{post.pk}}" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
            <a class="carousel-control-next" href="#post{{post.pk}}" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        </div>
</a>




        {% else %}
        <br>
        <h5 class="text-center">no-image</h5>
        {% endif %}
        <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center justify-content-start">
                    <p class="card-text m-0">{{ post }}</p>



                </div>


                {% if user.is_authenticated %}

                <div class="d-flex justify-content-end">
                    <a href="{% url 'posts:like' post.pk %}" class="btn btn-light" class="card-link">
                        <div class="text-danger">
                            {% if user in post.like_users.all %}
                            <i class="fas fa-heart"></i> {% else %}
                            <i class="far fa-heart"></i> {% endif %} {{ post.like_users.all | length }}
                        </div>
                    </a>

                    {% if post.post_user == request.user %}

                    <a href="{% url 'posts:update' post.pk %}" class="btn btn-light"><i class="far fa-edit"></i></a>
                    <form action="{% url 'posts:delete' post.pk %}" method="POST" onsubmit="return confirm('R U SURE?');"> {% csrf_token %}
                        <button type="submit" class="btn btn-light"><i class="far fa-trash-alt"></i></button>
                    </form>

                    {% endif %}

                    <a href="{% url 'posts:list'%}" class="btn btn-light"><i class="far fa-comment"></i></a>



                </div>
                {% endif %}

            </div>
        </div>
        <hr> {% for comment in post.comment_set.all %}
        
        
        <div class="d-flex justify-content-between align-items-center px-4 py-1">
        <p class="card-text d-inline m-0">
            
            <b>{{ comment.user }} </b> {{ comment }}
        </p>
            
            {% if comment.user == request.user %}
            
                <form action="{% url 'posts:comment_delete' post.pk comment.pk %}" method="POST" class="d-flex align-items-center">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-white border-0 btn-sm p-0"><i class="fas fa-times fa-sm"></i></button>
                </form>
            {% endif %}
        </div>
            
        




        {% empty %}
        <p class="card-text px-4">No comments</p>
        {% endfor %}
        <br>
        {% if user.is_authenticated %}
        <div class="card-footer">



            <form action="{% url 'posts:comment_create' post.pk %}" method="POST">

                <div class="row align-items-center justify-content-center">

                    {% csrf_token %}
                    <div class="col-12 pt-3">

                        {% bootstrap_form comment_form show_label=False %}</div>
                    <!--<div class="col-2">-->
                    <!--<button type="submit" class="btn btn-light p-0"><i class="fas fa-pencil-alt fa"></i></button>-->
                    <!--</div>-->
                </div>


            </form>

        </div>
        {% else %}
        <div class="card-footer p-4">
            <p class="m-0">댓글을 작성하려면 <a href="{% url 'accounts:login' %}" class="card-link">로그인</a>하세요</p>
        </div>
        {% endif %}


    </div>
</div>
