{% extends "base.html" %} {% block title %}Index{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block body %}
<div class="container">

    <div class="row justify-content-center mt-5">
        <h1 class="text-secondary text-center col-12">영화 목록</h1>
        <ul class="list-group col-12 col-lg-6 mt-5">
            {% for movie in movies %}
                <li class="list-group-item d-flex justify-content-around align-items-center">
                    <h4 class="d-inline">
                        <a href="/movies/{{ movie.id }}">{{ movie.title }}</a>
                    </h4>
                    <button type="button" class="btn btn-secondary">{{ movie.score }}</button>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="row justify-content-center mt-5">
        <a href="/movies/new/">영화 정보 생성</a>
    </div>
</div>


{% endblock %}
