header {
    height: 350px;
    width: 100%;
    background-color: crimson;
}

footer {
    height: 50px;
    width: 100%;
    background-color: lightgrey;
}

#my_info {
    position: fixed;
    top: 8rem;
    /*left:10rem;*/
}