{% extends 'boards/base.html' %}

{% block title %}
Index
{% endblock %}

{% block body %}
<h1>게시글 목록</h1>
<br>
{% if user.is_authenticated %}
<a href="{% url 'boards:create' %}">새 글</a>
{% else %}
<p>새 글을 작성하려면 <a href="{% url 'accounts:login' %}">로그인</a>하세요</p>
{% endif %}

<hr>
{% for board in boards %}
<p><b>작성자 : {{ board.user }}</b></p>
<p>{{ board.pk }}</p>
<p><a href="{% url 'boards:detail' board.pk %}">{{ board.title }}</a></p>

{% empty %}
<h5>게시글이 없습니다</h5>
{% endfor %}
{% endblock %}