@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Poor+Story&subset=korean');

body {
    font-family: 'Poor Story', cursive;
    font-size: 120%;
}

.main_bg {
    height: 350px;
    background-image: url('assets/movie.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

h2 {
    line-height: 350px;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 300%;
}

.footer {
    height: 50px;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.